name: Publish to Docker Hub

on: workflow_dispatch

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # Required to fetch tags
      - name: Get latest tag
        id: get_version
        run: |
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $latest_tag"
          echo "BUILD_VERSION=$latest_tag" >> $GITHUB_ENV
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Build and push images
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ vars.BUILD_PLATFORM }}
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/pypy:b${{ env.BUILD_VERSION }}-v${{ vars.PYPY_VERSION }}-r${{ vars.PYPY_RELEASE }}-alpine${{ vars.ALPINE_VERSION }}
          build-args: |
            ALPINE_VERSION=${{ vars.ALPINE_VERSION }}
            PYPY_VERSION=${{ vars.PYPY_VERSION }}
            PYPY_RELEASE=${{ vars.PYPY_RELEASE }}
